*{
    margin: 0;
    padding: 0;
}
.to-do-wrapper{
    background-image: linear-gradient(to bottom right, #487fdd, #74cccf);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
